<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

<div class="min-h-screen bg-gray-50 py-6 flex flex-col justify-center relative overflow-hidden sm:py-12">
    <img th:src="@{rolling-hills-grassland-wilderness-sky-wallpaper-preview.jpg}"
         class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 max-w-none" width="100%" height="100%"/>
    <div class="absolute inset-0 bg-[url(/img/grid.svg)] bg-center [mask-image:linear-gradient(180deg,white,rgba(255,255,255,0))]"></div>
    <div class="relative px-6 pt-10 pb-8 bg-white shadow-xl ring-1 ring-gray-900/5 sm:max-w-lg sm:mx-auto sm:rounded-lg sm:px-10">
        <div class="max-w-md mx-auto">
            <img th:src="@{logo.svg}" class="h-6" alt="Tailwind Play"/>
            <div class="divide-y divide-gray-300/50">
                <div class="py-8 text-base leading-7 space-y-6 text-gray-600">
                    <h1> Hello, <span th:text="${role}"/></h1>
                    <p>
                    <form th:action="@{/searchRates}" method="get">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="from">From</label>
                                <input name='from'
                                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                       type="date" id="from">
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="to">To</label>
                                <input name="to"
                                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                       type="date" id="to">
                            </div>
                        </div>
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                type="submit">Search currencies
                        </button>
                    </form>

                    <!--                    Admin area-->
                    <div th:if="${session.isAdmin}">
                        <form th:action="@{/editRates}" method="get">
                            <div class="col-md-6 mb-3">
                                <label for="from">Set date: </label>
                                <input name='date'
                                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                       type="date" id="date">
                            </div>
                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                    type="submit">Edit currencies
                            </button>
                        </form>
                    </div>
                    <!--                    Admin area-->

                    </p>
                    <p> As of <span th:text="${date}"/>, the currency rates are:</p>
                    <ul class="space-y-4 list-disc" th:each="currency:${currencies}">
                        <li>
                            <p class="ml-4">
                            <span th:text="${currency.currency}"/> is <span th:text="${currency.getCourseToUAH()}"/> UAH
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>