<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Searched</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<div class="min-h-screen bg-gray-50 py-6 flex flex-col justify-center relative overflow-hidden sm:py-12">
    <img th:src="@{rolling-hills-grassland-wilderness-sky-wallpaper-preview.jpg}"
         class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 max-w-none" width="100%" height="100%"/>
    <div class="absolute inset-0 bg-[url(/img/grid.svg)] bg-center [mask-image:linear-gradient(180deg,white,rgba(255,255,255,0))]"></div>
    <div class="relative px-6 pt-10 pb-8 bg-white shadow-xl ring-1 ring-gray-900/5 sm:max-w-lg sm:mx-auto sm:rounded-lg sm:px-10">
        <div class="max-w-md mx-auto">
            <img th:src="@{logo.svg}" class="h-6" alt="Tailwind Play"/>
            <div class="divide-y divide-gray-300/50">
                <div class="py-8 text-base leading-7 space-y-6 text-gray-600">
                    <p><span th:text="${rates.isEmpty() ? 'Found no entries' : 'Found next entries:'}"/>
                    <div th:unless = "${rates.isEmpty()}">
                        <div th:each = "rate:${rates}">

                                <h1> On <span th:text="*{rate.date}"/> :</h1>
                                <ul class="space-y-4 list-disc" th:each = "currency:${rate.currencies}">
                                    <li>
                                        <p class="ml-4">
                                        <span th:text="${currency.currency}"/> is <span th:text="${currency.getCourseToUAH()}"/> UAH
                                        </p>
                                    </li>
                                </ul>
                            <br/>
                        </div>
                    </div>
                    <p><a th:href="@{view}">Go back</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>